<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn-close" (click)="cancel()"></button>
</div>

<div class="modal-body">
    <div class="card-header border-light justify-content-between">
        <div class="col-md-12">
            <textarea class="form-control" placeholder="Please input remarks here..." rows="6" [(ngModel)]="remarks"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" (click)="continue()">Continue</button>
    <button class="btn btn-light" (click)="cancel()">Cancel</button>
</div>
